// common
.hidden {
  display: none;
}

body {
  font-size: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 2em;
  &::before {
    content: "";
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -10;
  }
}

.input-text {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.2em;
  border-bottom: 1.5px solid rgba(255,255,255,0.6);
  padding: .3em;
  // margin-left: 20px;
  &:focus + .input-btn {
    opacity: 0.5;
    background-color: transparent;
  }
}

.input-btn {
  position: absolute;
  right: 15%;
  border: none;
  background-color: transparent;
  background-image: url(../img/icons/enter-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  transition: .5s;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

// tinezone
#timezone-container {
  margin-bottom: 2em;
  #fullDate {
    font-size: 1.6em;
    margin-bottom: 1em;
  }
  .clock-container {
    .time {
      font-size: 8em;
    }
    .flex-column {
      font-size: 3em;
      margin-left: .4em;
      em + em {
        border-top: 1.2px solid rgba(255,255,255,0.5);
        margin-top: .3em;
      }
      .ampm { color: rgba(255,255,255,0.8); }
      .sec { font-size: 1.5em;}
    }
  }
}


// greeting
#greeting-container {
  margin-bottom: 4em;
  #greeting-user {
    font-size: 2em;
  }
  #login-form {
    label {
      font-size: 1.4em;
      display: block;
      margin-bottom: .5em;
    }
  }
}


// Todo
#todo-container {
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 1.4em;
  width: 250px;
  text-align: right;
  label {
    display: block;
    margin-bottom: 1em;
  }
  .input-text {
    width: 75%;
    font-size: 1em;
    margin-bottom: 1em;
  }
  .input-btn {
    right: 0;
  }
  .todo-list {
    display: inline-block;
    width: 78%;
    font-size: .8em;
    border: 1px solid rgba(255,255,255,0.4);
    background-color: rgba(0,0,0,0.2);
    li {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      line-height: 16px;
      padding: .8em;
      button {
        border-radius: 100%;
        border: 1px solid rgba(255,255,255,0.4);
        background-color: rgba(255,255,255,0.5);
        font-size: .4em;
        color: #fff;
        opacity: 0.8;
        transition: .4s;
        padding: 3px 4px;
        &:hover {
          color: #ff3737;
          border-color: #ff3737;
        }
      }
    }
  }
}


// quotes 
#quotes-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  q {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
  }
}


// weather
#weather-container {
  position: absolute;
  top: 3%;
  right: 5%;
  text-align: right;
  img {
    display: inline-block;
    width: 50px;
  }
  .temp {
    vertical-align: 17px;
    font-size: 1.5em;
  }
  .location {
    display: block;
    font-size: 1em;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 8px;
  }

  .container {
    top: 15%;
  }

  #todo-container {
    top: 40%;
  }
}