.hidden {
  display: none;
}

body {
  font-size: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
}

.input-text {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.6);
  padding: .3rem;
}

.input-text:focus + .input-btn {
  opacity: 0.5;
  background-color: transparent;
}

.input-btn {
  position: absolute;
  right: 15%;
  border: none;
  background-color: transparent;
  background-image: url(../img/icons/enter-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#timezone-container {
  margin-bottom: 2rem;
}

#timezone-container #fullDate {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#timezone-container .clock-container .time {
  font-size: 7rem;
}

#timezone-container .clock-container .flex-column {
  font-size: 3rem;
  margin-left: .4rem;
}

#timezone-container .clock-container .flex-column em {
  margin: .3rem;
}

#timezone-container .clock-container .flex-column em + em {
  border-top: 1.2px solid rgba(255, 255, 255, 0.5);
}

#timezone-container .clock-container .flex-column .ampm {
  color: rgba(255, 255, 255, 0.8);
}

#timezone-container .clock-container .flex-column .sec {
  font-size: 3.5rem;
}

#greeting-container {
  margin-bottom: 4rem;
}

#greeting-container #greeting-user {
  font-size: 2rem;
}

#greeting-container #login-form label {
  font-size: 1.4rem;
  display: block;
  margin-bottom: .5rem;
}

#todo-container {
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 1.4rem;
  width: 250px;
  text-align: right;
}

#todo-container label {
  display: block;
  margin-bottom: 1rem;
}

#todo-container .input-text {
  width: 75%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#todo-container .input-btn {
  right: 0;
}

#todo-container .todo-list {
  display: inline-block;
  width: 78%;
  font-size: .8rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
}

#todo-container .todo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 16px;
  padding: .8rem;
}

#todo-container .todo-list li button {
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: .4rem;
  text-indent: -1px;
  color: #fff;
  opacity: 0.8;
  width: 1.1rem;
  height: 1.2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

#todo-container .todo-list li button:hover {
  color: #ff3737;
  border-color: #ff3737;
}

#quotes-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

#quotes-container q {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#weather-container {
  position: absolute;
  top: 3%;
  right: 5%;
  text-align: right;
}

#weather-container img {
  display: inline-block;
  width: 50px;
}

#weather-container .temp {
  vertical-align: 17px;
  font-size: 1.5rem;
}

#weather-container .location {
  display: block;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */